.helo {
    height: 3px;
    background-color: black;
}

ul li i {
    cursor: pointer;
    color: #fff;
}

#map {
    padding-top: 50px;
    height: 500px;
    width: 60%;
}


#nilo {
    display: flex;
    justify-content: center;
    align-items: center;
}